html,body{
    width: 100%;
}

.nav{
    height: 100px; width:100% ;background-color:orangered;
    text-align: center;
}
.name{
font-size: 70px;
text-align: center;
margin-left:40%;
color: white;
font-family: 'Times New Roman', Times, serif;
}
.bod{
margin-top: 20px;
margin-left:20px;
}
.add{
border-radius: 7px;

}
.submit{
    border-radius: 5px;
}
.list{
    border-radius: 5px;
}
.main {
    margin: 20px auto   ; /* Center main content */
    max-width: 800px; /* Set a max width */
    text-align: center; /* Center align text */
}
