<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <h1 style="text-align: center;">HOME PAGE</h1>
    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            <h2>Add New Data</h2>
            <div class="lab">
            <label for="name">Name:</label>
            <input type="text" name="name1" id="name"><br><br>
            <label for="age">Age:</label><input type="text" name="age1" size="10" id="age"><br><br>
            <label for="location">Location:</label><input type="text" name="location1" id="location"><br><br>
            <button type="submit">Add</button>
        </div>
        </form>
    </div>
    <h1 class="heading">STUDENT NAMES</h1>
    <table border="1" align="center" cellpadding="10" width="60%">
            {% for i in var %}
            <tr > <td align="center">
                <h1 ><a href="{%  url  'list' i.id  %}">{{ i.name }} </a></h1> 
                </td> </tr>

            {% endfor %}
       
    </table>
</body>
</html>
