<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
    {% csrf_token%}
    Name:<input type="text " value="{{var.name}}"><br><br>
    Age:<input type="" value=" {{var.age}}"><br><br>
    Location:<input type="text" value="{{var.location}}">
    <br><br>
   
<button name="delete">Delete</button><br><br>
</form>
<a href="{% url 'edit'  var.id %}"><button> Edit</button></a>
</body>
</html>