<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body,html{
        height: 100%;
    }
    *{
        background-color: rgb(27, 60, 48);
    }
    .tab{
        text-align: center;
        background-color: rgb(18, 65, 65);
        width: 80%;
        height:100%;
        position: relative;
        left: 10%;
        color: white;

    }
    
</style>
<body>
    <table class="tab" border="1" >
        <tr><th>Names</th></tr>
     {% for i in var %}
     <tr>
       <td> {{i.name}}</td>
    </tr>
     {% endfor %}
    </table>
</body>
</html>
